/**
 VERRUKKULLUK MAIN.CSS
 */


:root {

    /* FONTS */
    --heading: "pretty_lilyregular";

    /* COLORS */
    --dark-brown: #402214;
    --lighter-brown:  #774231;
    --lightest-brown: #aa4b1b;

    --darker-red: #b31714;
    --lighter-red: #dc3439;

    --kahki: #fff0d6;

    --darker-orange: #eb8d1f;
    --lighter-orange: #fca01f;

    --darker-green: #6e8722;
    --lighter-green: #95b82d;

    --white: #FFF;
    --black: #000;

}

/** HEADING **/
h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading) !important;
}

h1 {
    font-size: 52px;
}

h2 {
    font-size: 42px;
}

h3, h4, h5 {
    font-size: 32px;
}


/** HTML / BODY **/
html, body {
    font-family: "Helvetica Neue", Arial, SansSerif;
    font-size: 16px;
}

button:active, button:focus {
    outline-style: none;
}

.carousel-inner {
    height: 30vh;
    width: 100%;
    position: relative;
}

.carousel-inner img {
    position: relative;
    top: 50%;
    transform: translateY(-25%);
}

.hidden-navbar {
    background-color: var(--white);
    vertical-align: middle;
    font-family: var(--heading);
}

.hidden-navbar a, .hidden-navbar a:active, .hidden-navbar a:visited, .hidden-navbar a:hover {
    color: var(--lighter-red);
    text-decoration: none;
}

.hidden-navbar-text {
    padding-top: 1%;
    font-size: 3rem;
}

.hidden-navbar-image img {
    width: 73.9%;
    padding-left: 10%;
    padding-top: 1.8%;
}

.navbar-image img {
    width: 70%;
    background-color: transparent;
}

.navbar-toggle-button {
    float: right;
}

.navbar-carousel {
    z-index: 1;
    position: absolute;
    justify-content: unset;
    background-color: transparent;
}

.navbar-carousel img{
    width: 40%;
}

.agenda-and-login {
    width: 100%;
    padding-left: 3rem;
    padding-right: 3rem;
    margin-bottom: 2rem;
    margin-top: 1rem;
}

.agenda {
    background-color: var(--lighter-green);
    min-height: 50vh;
    border: 2px hidden;
    box-shadow: 2px 2px 3px 2px #888;
}

.agenda-title {
    text-align: center;
}

.agenda-title img {
    width: 40%;
    color: var(--white);
}

.fa-calendar {
    color: var(--white);
}

.agenda-item-text {
    font-family: var(--heading);
    font-size: 25px;
}

.login {
    background-color: var(--darker-red);
    color: var(--white);
    margin-top: 1.4rem;
    border: 2px hidden;
    box-shadow: 1px 1px 3px 1px #888;
}

.login-form {
    width: 100%;
    margin: auto;
}

.login-form input {
    width: 80%;
    border: hidden;
    border-radius: 5px;
    outline-style: none;
}

.login-column {
    text-align: center;
    align-content: center;
}

.login-password-label, .login-email-label {
    width: 90%;
    font-size: .75rem;
    text-align: left;
    margin: auto;
    margin-bottom: 0;
    margin-top: .2rem;
}

.login-image img {
    width: 40%;

}

.login-button button {
    background-color: var(--lighter-orange);
    font-family: var(--heading);
    color: var(--white);
    font-size: 2rem;
    border-radius: 20px;
    border: 2px hidden;
    margin-top: 1rem;
    width: 55%;
    margin-bottom: 1rem;
    transition: .5s;
}

.login-button button:hover {
    background-color: var(--darker-orange);
    transition: .5s;
}

.footer {
    background-color: var(--darker-orange);
    color: var(--white);
    padding-top: 2rem;
    margin-top: 1rem;
}

.logo-footer {
    text-align: center;
}

.logo-footer img {
    width: 40%;
}

.contact-footer img {
    width: 60%;
}