:root {

    /* FONTS */
    --heading: "pretty_lilyregular";

    /* COLORS */
    --dark-brown: #402214;
    --lighter-brown:  #774231;
    --lightest-brown: #aa4b1b;

    --darker-red: #b31714;
    --lighter-red: #dc3439;

    --kahki: #fff0d6;

    --darker-orange: #eb8d1f;
    --lighter-orange: #fca01f;

    --darker-green: #6e8722;
    --lighter-green: #95b82d;

    --white: #FFF;
    --black: #000;

}

/** HEADING **/
h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading) !important;
}

h1 {
    font-size: 52px;
}

h2 {
    font-size: 42px;
}

h3, h4, h5 {
    font-size: 32px;
}


/** HTML / BODY **/
html, body {
    font-family: "Helvetica Neue", Arial, SansSerif;
    font-size: 16px;
}


.dish-container {
    border: 20px hidden;
    width: 100%;
    height: 30rem;
    padding: 20px;
    margin-bottom: 15px;
    box-shadow: 2px 2px 4px 3px #888;
    z-index: 1;
}

.dish-detail-title-row {
    color: var(--darker-green);
}


.dish-detail-image  {
    width: 100%;
    height: 100%;
    margin: 0px;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.detail-information-icons-row {
    height: 2rem;
}

/* .detail-information-icons-row img {
    height: 40%;
    width: 25%;
} */
.detail-information-icons-row p {
    font-size: 25px;
}

.detail-information-icons-row p img {
    height: 2rem;
}

.dish-people img {
    content: url("../images/amount-of-people.png");
}

.dish-price img {
    content: url("../images/price.png");
}

.dish-calories img {
    content: url("../images/calories.png");
}


.dish-long-description-row {
    min-height: 2rem;
    max-height: 20rem;
    height: 20rem;
    width: 100%;
    display: block;
    position: relative;
    overflow: auto;
    margin-bottom: 2%;
}

.dish-rating img {
    width: 1.5rem;
    cursor: hand;
}

.dish-information {
    border: 0px hidden;
    box-shadow: 2px 2px 4px 3px #888;
    padding: 20px;
    width: 100%;
    height: 25rem;
    max-height: 30rem;
}

.dish-detail-button button {
    font-family: --heading;
    color: var(--white);
    background-color: var(--lighter-red);
    transition: .5s;
    border-radius: 20px;
    border: hidden;
}

.dish-detail-button button:hover {
    background-color: var(--darker-red);
}

.detail-nav-tabs a {
    font-family: var(--heading);
    color: var(--darker-green);
    font-size: 2rem;
}

.tab-pane {
    overflow-x: hidden;
    overflow-y: auto;
    height: 80%;
}

.ingredient-image-column, .preparation-image-column, .comment-image-column {
    text-align: center;
}

.ingredient-image-column img, .preparation-image-column img, .comment-image-column img {
    width: 80%;
    height: 100%;
}

.rated {
    content: url("../images/star-rated.png");
}

.hover-rated {
    content: url("../images/star-not-rated.png");
}

.favourite-no {
    max-width: 100%;
    content: url("../images/favourite-no.png");
}

.favourite-button-column img {
    width: 65%;
    height: 100%;
}

.favourite-yes {
    max-width: 100%;
    content: url("../images/favourite-yes.png");
}

.favourite-yes img {
    height: 20px;
}

